.button {
    background: $purple-blue-gradient;
    color: $white;
    border-radius: 50px;
    padding: 10px 20px;
    border: 2px solid $white;
    outline: 0!important;
    &:hover {
        text-decoration: none;
        color: $white;
    }
    @media (min-width: $lg-breakpoint) {
        padding: 11px 32px;
    }
    &.back-to-top {
        position: sticky;
        position: -webkit-sticky;
        bottom: 3%;
        left: 90%;
        background: $dark-grey;
        border: 2px solid $transparent-white;
        height: 95px;
        width: 95px;
        cursor: pointer;
        transition: all .5s ease;
        opacity: 0;
        &.active {
            opacity: 1;
            display: block;
            z-index: 1;
        }
        &:before {
            content: "\2191";
            font-size: $xlg-size;
        }
        @media (min-width: $md-breakpoint) {
            bottom: 20%;
        }
    }
}