.card-container {
    padding: 5px;
    list-style: none;
    .card {
        background-color: $transparent-white;
        border: none;
        border-radius: 5px;
        height: 100%;
        padding: 15px;
        .card-top-row {
            padding: 8px 0px;
            div {
                color: $white;
                &:last-of-type {
                    text-align: right;
                }
            }
        }
        .card-second-row {
            display: flex;
            margin-bottom: 15px;
            min-height: 164px;
            img {
                max-width: 120px;
                max-height: 120px;
                border-radius: 50%;
            }
            .card-text {
                p {
                    color: $white;
                    margin-left: 15px;
                }
                .album-title {
                    font-size: $md-size;
                }
                .artist-name {
                    font-size: $sm-size;
                    font-weight: 300;
                }
            }
        }
    }
}
