// colors

$dark-grey: #171717;
$purple-blue-gradient: linear-gradient(135deg, #8000FF, #1829AD);
$white: #ffffff;
$transparent-white: #ffffff42;

// font sizes

$xsm-size: 16px;
$sm-size: 18px;
$md-size: 20px;
$lg-size: 24px;
$xlg-size: 32px;
